/* CREATE */
#botonCrear {
  color: #37474f;
  font-weight: bold;
  background-color: #ffcb00;
  box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
}

#botonCrear:hover {
  color: white;
  background-color: #37474f;

}

#botonCrear:active {
  box-shadow: none;
}


/* BACK */
#botonVolver {
  background-color: #37474f;
  border: #37474f;
  font-weight: bold;
  box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
}

#botonVolver:hover {
  background-color: #212529;
}

#botonVolver:active {
  box-shadow: none;
}


/* UPDATE: */
#botonActualizar{
  color: #37474f;
  font-weight: bold;
  border: #ffcb00;
  background-color: #ffcb00;
  box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
}

#botonActualizar:hover {
  color: white;
  background-color: #37474f;

}

#botonActualizar:active {
  box-shadow: none;
}