footer {
  box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
}

.containerFooter {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}