.header {
  /* background: #D0E4F5 url(../img/FondoZoom_1.png) no-repeat fixed 0 0; */
  /* background-image: url(../img/FondoZoom_1.png); */
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
}

.contenedorMain {
  margin-right: 100px;
  margin-top: 120px;
  text-align: left;
  font-family: Arial;
}

.tituloNew {
  font-size: 25px;
  color: #fed100;
  font-family: Arial;
  font-weight: bold;
}

.subtituloNew {
  color: #37474f;
  font-size: 50px;
  font-weight: 900;
}

.cartoons {
  /* image-rendering: optimizeQuality; */
  width: 750px;
  height: 500px;
}

.gridTarjetas {
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  text-align: justify;
}

#tarjeta {
  border-color: #fed100;
  border: 4px inset #fed100;
  border-radius: 40px 40px 40px 40px;
  /* float: right; */
  box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
}

.card-body {
  border: 5px none #ffffff00;
  border-radius: 40px 40px 40px 40px;
}

.card-title {
  background: #37474f;
  color: #ffffff;
  font-weight: bolder;
  text-align: center;
  border-radius: 40px 40px 40px 40px;
}

.card-footer{
  border: 5px none #ffffff00;
  border-radius: 40px 40px 40px 40px;
}

#borderFecha {
  text-align: center;
  background: #37474f;
  color: #ffffff;
  border: 5px none #ffffff00;
  border-radius: 40px 40px 40px 40px;
  /* box-shadow: 0px 2px 16px 4px  #ffcb00; */
}