.header {
	background: #ffffff url(../img/FondoZoom.jpg) no-repeat fixed 0 0;
	/* background-image: url(../img/FondoZoom_1.png); */
	background-size: cover;
	height: 600px;
	display: flex;
	justify-content: center;
}

#formuId {
	width: 50%;
	padding: auto;
	display: flex;
	flex-direction: column;
}