.caja-noticia {
  background: #ffffff url(../img/Fondo\ Zoom_5.png) no-repeat fixed 0 0;
  background-size: 100%;

  text-align: center;
  color: #37474f;
  font-family: Arial, sans-serif;

  padding-top: 120px;
  padding-left: 100px;
  padding-right: 100px;
}

.noti-img{
  display: inline;
  width: 70%;
  margin-bottom: 30px;
}

.noti-title {
  background: #37474f;
  text-align: center;
  color: #ffffff;
  font-weight: bolder;
  border-radius: 40px;
}

.noti-body{
  display: inline-block;
  background: rgb(255, 255, 255);
  text-align: justify;

  padding-top: 50px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  border-radius: 40px 40px 40px 40px;

  box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
}

#noti-fecha {
  display: inline-block;
  text-align: center;
  background: #37474f;
  color: #ffffff;
  width: 40%;
  border-radius: 40px;
}