.leer-noticia {
  padding-top: 120px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
  color: #37474f;
  font-family: Arial, sans-serif;
}

.noti-img{
  display: inline-block;
  width: 70%;
  margin-bottom: 30px;
}

.noti-title {
  background: #37474f;
  color: #ffffff;
  font-weight: bolder;
  text-align: center;
  border-radius: 40px 40px 40px 40px;
}

.noti-body{
  margin-top: 20px;
  display: inline-block;
  text-align: justify;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 30px;
}

.noti-fecha {
  display: inline-block;
  align-content: center;
  width: 50%;
  text-align: center;
  background: #37474f;
  color: #ffffff;
  border-radius: 40px 40px 40px 40px;
  margin-bottom: 30px;
}