.caja-noticia {
  background: #ffffff url(../img/Fondo\ Zoom_5.png) no-repeat fixed 0 0;
  background-size: cover;


  padding-top: 120px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
  color: #37474f;
  font-family: Arial, sans-serif;
}

.noti-img{
  display: inline-block;
  width: 70%;
  margin-bottom: 30px;
}

.noti-title {
  background: #37474f;
  color: #ffffff;
  font-weight: bolder;
  text-align: center;
  border-radius: 40px 40px 40px 40px;
}

.noti-body{
  background: rgb(255, 255, 255);
  padding-top: 20px;
  display: inline-block;
  text-align: justify;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;

  border-radius: 40px 40px 40px 40px;

  box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
}

#noti-fecha {
  display: inline-block;
  align-content: center;
  width: 50%;
  text-align: center;
  background: #37474f;
  color: #ffffff;
  border-radius: 40px 40px 40px 40px;
  margin-bottom: 50px;
}