.header {
  background: #ffffff url(../img/FondoZoom_1.png) no-repeat fixed 0 0;
  /* background-image: url(../img/FondoZoom_1.png); */
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
}

.EditDelete{
  color: #ffcb00;
  text-decoration: none;
}

.EditDelete:hover {
  color: #6c757d;
}